.globeContainer {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
      url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
    background-size: auto;
    animation: moveStars 150s linear infinite;
    opacity: 0.7;
    pointer-events: none; // allows mouse to interact with the globe
  }

  &::after {
    animation: moveStars 300s linear infinite reverse;
    opacity: 0.4;
  }

  
}

// Star movement animation
@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1000px;
  }
}

.fadeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); // full dark screen
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease;
  z-index: 10;
}

.fadeActive {
  opacity: 1; // full black when active
}


